/* ===================================
========= register page  */
.form-container {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   min-height: 100vh;
   flex-direction: column;
   background-color: #ffdee9;
   background-image: linear-gradient(0deg, #e5fffe , #fdebf1);
   /* padding: 30px; */
 }
 
 .form-container form {
   width: 400px;
   margin-top: 60px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
 }

 @media only screen and (max-width: 600px) {
   .form-container form  {
    width: 300px;
   }
}

 
 .form-container form .title {
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
   font-weight: bold;
   font-family: "Playfair Display", serif;
 }
 
 .form-container form input {
   border: none;
   border-bottom: 1px solid #000;
   border-radius: 0;
 }